@model MVCClient.Models.Bank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccHolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccHolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "UpdateAccount") |
    <a asp-action="Index" asp-controller="Login">Back to List</a>
</div>
